body{
    background-color: goldenrod;
    height:1200px;
}
#gif-zone{
    width:88.5%;
    height:600px;
    top:76px;
}
.gif-search{
    margin-left:5px;
    margin-right:5px;
}
form{
    padding:10px;
    
}
.image-container{
    float:left;
    padding:5px;
}
#input-textbox{
    width:100%;
}
#button-zone{
    float:left;
    width:100%;
    height:76px;
    background-color: blueviolet;
}
#form-zone{
    background-color: whitesmoke;
    width:100px;
    border-bottom-left-radius:15px;
    position: absolute;
    top:76px;
    right:0px;
}
@media only screen and (max-width: 740px) {
    #form-zone {        
        width:100%;
        border-bottom-left-radius: 0px;
        height:94px;
    }
    #gif-zone{
        position: relative;
        width:100%;
        top:170px;
    }
   
}